/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */

@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Ubuntu:wght@300&display=swap');


header {
    background-color: wheat;
    max-width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    font-family: Ubuntu;
    align-items: center;
}

#content{
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
    font-family: Joti One;
    font-size: 22px;
    
}

.logo {
    width : 200px;


}

nav a {
    margin : 0 auto;
    text-align: center;
    color: #7209b7;
    text-decoration: none;
    padding: 35px;
    font-family: Joti One;
    font-size: 22px;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 5px;

}

.headline1 {
    text-align:  center;
    margin: 0 auto;
    font-family: Ubuntu;
     
}

nav a:hover {
    background-color: #7209b7;
}


#container {
    display: grid;
    grid-template-columns: 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px ;
    grid-template-rows: 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px ;
    height: auto;
    background-color: #4361ee;
    margin-top : 10px;
    padding: 25px;

}

.headline{
    grid-column: 5/9;
    grid-row: 1/2;
    text-align: center;
    font-family: Ubuntu;
    font-size: 1.2em;
}

.my_theme {
    grid-column: 5/9;
    grid-row: 2/7;
    padding: 20px;
    align-items: center;
    text-align: center;
    font-family: Joti One;
    border-radius: 50px;
    
}

.homepage1 p1{
    grid-column: 1/5;
    grid-row: 2/7;
    font-size: 1.2em;
    font-family: Ubuntu;
    

}

.homepage2 p2 {
    grid-column: 9/13;
    grid-row: 2/9;
    font-size: 1.2em;
    font-family: Ubuntu;
    
}

footer {
    background-color: gray;
    color: black;
    font-family: Joti One;
    font-size: 10px;
    padding: 25px 50px;
    margin-top: 10px;
    text-align: center;
    
}

footer p {
    font-size: 2.8em;
}

footer .social img  {
    padding-top: 15px;
    align-items: flex-start;

}

footer p a:hover {
    text-decoration: underline;
    text-decoration-color: none;
    text-decoration-color: blue;
}


.social img{
    width : 50px;
}
#stuffs{
    align-items: center;
    text-align: center;
    font-family: Ubuntu;
    font-size: 1.2em;
    background-color:wheat;
}

#stuffs img{
    width: 600px;
    height: 500px;
    border-radius: 50px;
    
}

#vaults{
    align-items: center;
    text-align: center;
    font-family: Ubuntu;
    font-size: 1.2em;
    background-color:wheat;
}
#vaults img{
    width: 600px;
    height: 500px;
    border-radius: 50px;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    font-family: Ubuntu;
    font-size: 1.2em;
    background-color:wheat;
    margin-top: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }